<h4 class="devise-title">配送先編集</h4>

<%= form_with model: @address, url: address_path, local: true do |f| %>
  <ul>
    <li class="devise-field">
      <%= f.label :"郵便番号(ハイフンなし)" %>
      <%= f.text_field :postcode %>
    </li>
    <li class="devise-field">
      <%= f.label :"住所" %>
      <%= f.text_field :address %>
    </li>
    <li class="devise-field">
      <%= f.label :"宛名" %>
      <%= f.text_field :name %>
    </li>
    <li class="address-submit">
      <%= f.submit "変更内容を保存" %>
    </li>
  </ul>
<% end %>