<h4>配送先登録/一覧</h4>
<%= form_with model: @address, url: addresses_path, local: true do |f| %>
  <div>郵便番号(ハイフンなし)</div>
  <%= f.text_field :postcode %>

  <div>住所</div>
  <%= f.text_field :address %>

  <div>宛名</div>
  <%= f.text_field :name %>

  <%= f.submit "新規登録" %>
<% end %>

<table>
  <colgroup span="4"></colgroup>
  <tr>
    <th>郵便番号</th>
    <th>住所</th>
    <th>宛名</th>
    <th></th>
  </tr>
  <tbody>
    <tr>
      <td>
        <%= @customer.postcode %>
      </td>
      <td>
        <%= @customer.address %>
      </td>
      <td>
        <%= @customer.last_name + @customer.first_name %>
      </td>
      <td>
        <%= link_to "編集する", customers_my_page_path %>
      </td>
    </tr>
    <% @addresses.each do |address| %>
      <tr>
        <td>
          <%= address.postcode %>
        </td>
        <td>
          <%= address.address %>
        </td>
        <td>
          <%= address.name %>
        </td>
        <td>
          <%= link_to "編集する", "#" %>
          <%= link_to "削除する", "#" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
