<div class = devise-container>
  <h4 class="devise-title">新規会員登録</h4>

  <%= form_with model: @customer, url: customer_registration_path, class: 'new-customer', local: true do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <ul>
      <li class="devise-field">
        <%= f.label :'名前' %>
        <%= f.text_field :last_name, autofocus: true %>
        <div class="field-right">
          <%= f.text_field :first_name %>
        </div>
      </li>
      <li class="devise-field">
        <%= f.label :'フリガナ' %>
        <%= f.text_field :last_name_kana %>
        <div class="field-right">
           <%= f.text_field :first_name_kana  %>
        </div>
      </li>
      <li class="devise-field">
        <%= f.label :'メールアドレス' %>
        <%= f.email_field :email %>
      </li>
      <li class="devise-field">
        <%= f.label :'郵便番号' %>
        <%= f.text_field :postcode %>
      </li>
      <li class="devise-field">
        <%= f.label :'住所' %>
        <%= f.text_field :address %>
      </li>
      <li class="devise-field">
        <%= f.label :'電話番号' %>
        <%= f.text_field :phonenumber %>
      </li>
      <li class="devise-field">
        <%= f.label :'パスワード' %>
        <%= f.password_field :password %>
      </li>
      <li class="devise-field">
        <%= f.label :'パスワード(確認用)' %>
        <%= f.password_field :password_confirmation %>
      </li>
      <li class="devise-field actions">
        <%= f.submit "新規登録" %>
      </li>
    </ul>
  <% end %>

  <h4 class="devise-link-title">既に登録済の方</h4>
  <div class="devise-link">
    <%= link_to "こちら", new_customer_session_path %>からログインしてください。
  </div>

</div>