<h4>注文情報確認</h4>
<table>
  <tr>
    <th>商品名</th>
    <th>単価(税込)</th>
    <th>数量</th>
    <th>小計</th>
  </tr>
  <tbody>
    <% @carts.each do |cart| %>
      <tr>
        <td>
          <%= cart.item.name %>
        </td>
        <td>
          <%= cart.item.price %>
        </td>
        <td>
          <%= cart.amount.to_i %>
        </td>
         <td>
          <%= cart.item.price * cart.amount.to_i %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<table>
  <tbody>
    <tr>
      <th>送料</th>
      <td>800</td>
    </tr>
    <tr>
      <th>商品合計</th>
      <td>
        <% total_price = 0 %>
        <% @carts.each do |cart| %>
          <% one_item = cart.item.price * cart.amount %>
          <% total_price += one_item %>
        <% end %>
        <%= total_price %>
      </td>
    </tr>
    <tr>
      <th>請求金額</th>
      <td><%= total_price + 800 %></td>
    </tr>
  </tbody>
</table>

<p>支払方法</p>
<%= @order.pay_way %>

<p>お届け先</p>
<%= @order.postcode + "" + @order.address + "" + @order.name %>