<h4>ジャンル一覧・追加</h4>
<%= form_with model: @genre, url: admins_genres_path, local: true do |f| %>
  <div>ジャンル名</div>
  <%= f.text_field :name %>

  <%= f.submit "新規登録" %>
<% end %>

<table>
  <tr>
    <th>ジャンル</th>
  </tr>
  <tbody>
    <% @genres.each do |genre| %>
      <tr>
        <td>
          <%= genre.name %>
        </td>
        <td>
          <%= link_to "編集する", edit_admins_genre_path(genre) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
