<h4 class="session-title">管理者ログイン</h4>

<%= form_with model: @admin, url: admin_session_path, local: true do |f| %>
  <div>
    <div class="session-field">
      <div class="session-item">メールアドレス</div>
      <%= f.email_field :email %>
    </div>

    <div class="session-field">
      <div class="session-item">パスワード</div>
      <%= f.password_field :password %>
    </div>

    <div class="session-field actions">
      <%= f.submit "ログイン" %>
    </div>
  <% end %>

  <div class="admin-link">
    <%= link_to 'お客様はこちら', new_customer_session_path %>
  </div>
</div>