<h4 class="session-title">ログイン</h4>

  <%= form_with model: @customer, url: customer_session_path, local: true do |f| %>
    <div>
      <div class="session-field">
        <div class="session-item">メールアドレス</div>
        <%= f.email_field :email %>
      </div>

      <div class="session-field">
        <div class="session-item">パスワード</div>
        <%= f.password_field :password %>
      </div>

      <div class="session-field">
        <%= f.submit "ログイン" %>
      </div>
    <% end %>
  </div>

  <h4 class="session-title">会員登録がお済みでない方</h4>
  <div class="session-link">
    <%= link_to "こちら", new_customer_registration_path %>から新規登録を行ってください。
  </div>

